@using Microsoft.AspNetCore.Hosting

@model string
@inject IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET Core Dependency injection - Environments</title>


</head>
<body>

<div class="container">
    
    <div class="panel panel-info">
        <div class="panel-heading">Environment</div>
        <div class="panel-body">
            @HostingEnvironment.EnvironmentName
        </div>
    </div>


    <br/>
    <div class="panel panel-info">
        <div class="panel-heading">Service type</div>
        <div class="panel-body">
            @Model
        </div>
    </div>
</div>
</body>
</html>
